<div class="container-fluid">    
    <nav class ="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a class="nav-style" routerLink="" routerLinkActive="active">Angular practice</a></li>
            <li><a class="nav-style" routerLink="/courses" routerLinkActive="active">Courses</a></li>
            <li><a class="nav-style" routerLink="/users" routerLinkActive="active">Users</a></li>
            <li><a class="nav-style" routerLink="/posts" routerLinkActive="active">Posts</a></li>
            <li><a class="nav-style" routerLink="/todolist">To-do list</a></li>
        </ul>
    </nav>
</div>
<notifier-container></notifier-container>
<router-outlet></router-outlet>

